body {
    height: 100vh;
    background-image:url(images/wallpaper.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: auto;
    max-width: auto;    
    }

    .navbar{
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        background-color: #242625;
  }

    .logo2{
        height: 73px;
        margin-left: 17px;
        margin-top: 10px;
        background: #000;
    }

    .logo3{
        height: 69px;
        margin-left: 11px;
        margin-top: 15px;
    }
    
    .document_texte{
        width: 50%;
        height: 70%;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5%;
    }

    .logo_texte{
        width: -5px;
    }


